In [101]:
# importando as bibliotecas
import numpy as np
import pandas as pd

In [102]:
# carregar o dataset
df = pd.read_csv('data/diabetes.csv')
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75832 entries, 0 to 75831
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encounter_id              75832 non-null  float64
 1   patient_nbr               75832 non-null  float64
 2   race                      75832 non-null  object
 3   gender                    75832 non-null  object
 4   age                       75832 non-null  object
 5   weight                    75832 non-null  object
 6   admission_type_id         75832 non-null  float64
 7   discharge_disposition_id  75832 non-null  float64
 8   admission_source_id       75832 non-null  float64
 9   time_in_hospital          75832 non-null  float64
 10  payer_code                75832 non-null  object
 11  medical_specialty         75832 non-null  object
 12  num_lab_procedures        75832 non-null  float64
 13  num_procedures            75832 non-null  float64
 14  num_medications           75832 non-null  float64
 15  number_outpatient         75832 non-null  float64
 16  number_emergency          75832 non-null  float64
 17  number_inpatient          75832 non-null  float64
 18  diag_1                    75832 non-null  object
 19  diag_2                    75832 non-null  object
 20  diag_3                    75832 non-null  object
 21  number_diagnoses          75832 non-null  float64
 22  max_glu_serum             4990 non-null   object
 23  A1Cresult                 12298 non-null  object
 24  metformin                 75832 non-null  object
 25  repaglinide               75832 non-null  object
 26  nateglinide               75832 non-null  object
 27  chlorpropamide            75832 non-null  object
 28  glimepiride               75832 non-null  object
 29  acetohexamide             75832 non-null  object
 30  glipizide                 75832 non-null  object
 31  glyburide                 75832 non-null  object
 32  tolbutamide               75832 non-null  object
 33  pioglitazone              75832 non-null  object
 34  rosiglitazone             75832 non-null  object
 35  acarbose                  75832 non-null  object
 36  miglitol                  75832 non-null  object
 37  troglitazone              75832 non-null  object
 38  tolazamide                75832 non-null  object
 39  examide                   75832 non-null  object
 40  citoglipton               75832 non-null  object
 41  insulin                   75832 non-null  object
 42  glyburide.metformin       75832 non-null  object
 43  glipizide.metformin       75832 non-null  object
 44  glimepiride.pioglitazone  75832 non-null  object
 45  metformin.rosiglitazone   75832 non-null  object
 46  metformin.pioglitazone    75832 non-null  object
 47  change                    75832 non-null  object
 48  diabetesMed               75832 non-null  object
 49  readmitted                75832 non-null  object
dtypes: float64(13), object(37)
memory usage: 28.9+ MB

(75832, 50)

In [103]:
# Realizando drop de colunas de identificação
df.drop(['diag_1', 'diag_2', 'diag_3', 'encounter_id','patient_nbr'], axis=1, inplace=True)

In [104]:
for col in df.columns:
    print(f'{col}: {df[col].unique()}\n')

race: ['Caucasian' 'AfricanAmerican' '?' 'Other' 'Asian' 'Hispanic']

gender: ['Female' 'Male' 'Unknown/Invalid']

age: ['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']

weight: ['?' '[75-100)' '[50-75)' '[0-25)' '[100-125)' '[25-50)' '[125-150)'
 '[175-200)' '[150-175)' '>200']

admission_type_id: [6. 1. 2. 3. 4. 5. 8. 7.]

discharge_disposition_id: [25.  1.  3.  6.  2.  5. 11.  7. 10.  4. 14. 18.  8. 13. 12. 16. 17. 22.
 23.  9. 20. 15. 24. 28. 19. 27.]

admission_source_id: [ 1.  7.  2.  4.  5.  6. 20.  3. 17.  8.  9. 14. 10. 22.]

time_in_hospital: [ 1.  3.  2.  4.  5. 13. 12.  9.  7. 10.  6. 11.  8. 14.]

payer_code: ['?' 'MC' 'MD' 'HM' 'UN' 'BC' 'SP' 'CP' 'SI' 'DM' 'CM' 'CH' 'PO' 'WC' 'OT'
 'OG' 'MP']

medical_specialty: ['Pediatrics-Endocrinology' '?' 'InternalMedicine'
 'Family/GeneralPractice' 'Cardiology' 'Surgery-General' 'Orthopedics'
 'Gastroenterology' 'Surgery-Cardiovascular/Thoracic' 'Nephrology'
 'Orthopedics-Reconstructive' 'Psychiatry' 'Emergency/Trauma'
 'Pulmonology' 'Surgery-Neuro' 'Obsterics&Gynecology-GynecologicOnco'
 'ObstetricsandGynecology' 'Pediatrics' 'Hematology/Oncology'
 'Otolaryngology' 'Surgery-Colon&Rectal' 'Pediatrics-CriticalCare'
 'Endocrinology' 'Urology' 'Psychiatry-Child/Adolescent'
 'Pediatrics-Pulmonology' 'Neurology' 'Anesthesiology-Pediatric'
 'Radiology' 'Pediatrics-Hematology-Oncology' 'Psychology' 'Podiatry'
 'Gynecology' 'Oncology' 'Pediatrics-Neurology' 'Surgery-Plastic'
 'Surgery-Thoracic' 'Surgery-PlasticwithinHeadandNeck' 'Ophthalmology'
 'Surgery-Pediatric' 'Pediatrics-EmergencyMedicine'
 'PhysicalMedicineandRehabilitation' 'InfectiousDiseases' 'Anesthesiology'
 'Rheumatology' 'AllergyandImmunology' 'Surgery-Maxillofacial'
 'Pediatrics-InfectiousDiseases' 'Pediatrics-AllergyandImmunology'
 'Dentistry' 'Surgeon' 'Surgery-Vascular' 'Osteopath'
 'Psychiatry-Addictive' 'Surgery-Cardiovascular' 'PhysicianNotFound'
 'Hematology' 'Proctology' 'Obstetrics' 'SurgicalSpecialty' 'Radiologist'
 'Pathology' 'Dermatology' 'SportsMedicine' 'Speech' 'Hospitalist'
 'OutreachServices' 'Cardiology-Pediatric' 'Perinatology']

num_lab_procedures: [ 41.  59.  11.  44.  51.  31.  70.  73.  68.  33.  47.  62.  60.  55.
  49.  75.  45.  29.  35.  42.  66.  36.  19.  64.  25.  53.  52.  87.
  27.  37.  46.  28.  48.  72.  10.   2.  65.  67.  40.  54.  58.  57.
  43.  32.  83.  34.  39.  69.  38.  56.  22.  96.  78.  61.  88.  50.
   1.  18.  82.   9.  63.  24.  71.  77.  81.  76.  90.  93.   3. 103.
  13.  80.  85.  16.  15.  12.  30.  23.  17.  21.  79.  26.   5.  95.
  97.  84.  14.  74. 105.  86.  98.  20.   6.  94.   8. 102. 100.   7.
  89.  91.  92.   4. 101.  99. 114. 113. 111. 129. 107. 108. 106. 104.
 109. 120.]

num_procedures: [0. 5. 1. 6. 2. 3. 4.]

num_medications: [ 1. 18. 13. 16.  8. 21. 12. 28. 17. 11. 15. 31.  2. 23. 19.  7. 20. 14.
 10. 22.  9. 27. 25.  4. 32.  6. 30. 26. 24. 33.  5. 39.  3. 29. 61. 40.
 46. 41. 36. 34. 35. 50. 43. 42. 37. 51. 38. 45. 54. 52. 49. 62. 55. 47.
 44. 53. 48. 57. 59. 56. 60. 63. 58. 70. 67. 64. 69. 65. 68. 66. 81. 79.
 75. 72. 74.]

number_outpatient: [ 0.  2.  1.  5.  7.  9.  3.  8.  4. 12. 11.  6. 20. 15. 10. 13. 14. 16.
 21. 35. 17. 29. 36. 18. 19. 27. 22. 24. 42. 39. 34. 26. 33. 25.]

number_emergency: [ 0.  1.  2.  4.  3.  9.  5.  7.  6.  8. 22. 25. 10. 13. 42. 16. 11. 28.
 15. 14. 18. 12. 21. 20.]

number_inpatient: [ 0.  1.  2.  3.  6.  5.  4.  7.  8.  9. 15. 10. 11. 14. 12. 13. 17. 16.
 21. 18. 19.]

number_diagnoses: [1. 9. 6. 7. 5. 8. 3. 4. 2.]

max_glu_serum: [nan '>300' 'Norm' '>200']

A1Cresult: [nan '>7' '>8' 'Norm']

metformin: ['No' 'Steady' 'Up' 'Down']

repaglinide: ['No' 'Up' 'Steady' 'Down']

nateglinide: ['No' 'Steady' 'Down' 'Up']

chlorpropamide: ['No' 'Steady' 'Down' 'Up']

glimepiride: ['No' 'Steady' 'Down' 'Up']

acetohexamide: ['No' 'Steady']

glipizide: ['No' 'Steady' 'Up' 'Down']

glyburide: ['No' 'Steady' 'Up' 'Down']

tolbutamide: ['No' 'Steady']

pioglitazone: ['No' 'Steady' 'Up' 'Down']

rosiglitazone: ['No' 'Steady' 'Up' 'Down']

acarbose: ['No' 'Steady' 'Up' 'Down']

miglitol: ['No' 'Steady' 'Down' 'Up']

troglitazone: ['No' 'Steady']

tolazamide: ['No' 'Steady' 'Up']

examide: ['No']

citoglipton: ['No']

insulin: ['No' 'Up' 'Steady' 'Down']

glyburide.metformin: ['No' 'Steady' 'Down' 'Up']

glipizide.metformin: ['No' 'Steady']

glimepiride.pioglitazone: ['No']

metformin.rosiglitazone: ['No']

metformin.pioglitazone: ['No']

change: ['No' 'Ch']

diabetesMed: ['No' 'Yes']

readmitted: ['NO' '>30' '<30']

In [105]:
for col in df.columns:
    print(f'{col}: {df[col].value_counts()}\n')

race: race
Caucasian          55548
AfricanAmerican    16003
?                   1511
Hispanic            1431
Other                958
Asian                381
Name: count, dtype: int64

gender: gender
Female             40950
Male               34880
Unknown/Invalid        2
Name: count, dtype: int64

age: age
[70-80)     19571
[60-70)     16599
[50-60)     13075
[80-90)     12249
[40-50)      7442
[30-40)      2949
[90-100)     1937
[20-30)      1271
[10-20)       586
[0-10)        153
Name: count, dtype: int64

weight: weight
?            73317
[75-100)      1061
[50-75)        724
[100-125)      465
[125-150)      107
[25-50)         77
[0-25)          45
[150-175)       26
[175-200)        8
>200             2
Name: count, dtype: int64

admission_type_id: admission_type_id
1.0    38300
2.0    14437
3.0    13422
5.0     4742
6.0     4677
8.0      237
7.0       10
4.0        7
Name: count, dtype: int64

discharge_disposition_id: discharge_disposition_id
1.0     44586
3.0      9758
6.0      9164
18.0     3679
2.0      1597
22.0     1413
11.0     1287
5.0      1048
25.0      982
4.0       713
7.0       451
23.0      335
13.0      234
14.0      230
28.0      107
8.0       105
15.0       57
24.0       29
17.0       14
16.0       11
9.0        11
10.0        6
19.0        6
27.0        4
12.0        3
20.0        2
Name: count, dtype: int64

admission_source_id: admission_source_id
7.0     39975
1.0     22389
17.0     6377
4.0      2708
6.0      2127
2.0      1083
5.0       694
3.0       179
20.0      161
9.0       119
8.0         9
10.0        8
22.0        2
14.0        1
Name: count, dtype: int64

time_in_hospital: time_in_hospital
3.0     12917
2.0     12693
4.0     10331
1.0     10264
5.0      7427
6.0      5697
7.0      4488
8.0      3405
9.0      2312
10.0     1867
11.0     1479
12.0     1159
13.0      954
14.0      839
Name: count, dtype: int64

payer_code: payer_code
?     37437
MC    20572
HM     3813
SP     3085
BC     2949
MD     2137
UN     1976
CP     1534
CM      930
OG      482
DM      337
PO      325
WC       84
SI       54
CH       53
OT       44
MP       20
Name: count, dtype: int64

medical_specialty: medical_specialty
?                                32475
InternalMedicine                 13132
Family/GeneralPractice            6742
Cardiology                        4683
Emergency/Trauma                  4668
                                 ...
SportsMedicine                       1
Speech                               1
Psychiatry-Addictive                 1
Pediatrics-InfectiousDiseases        1
Perinatology                         1
Name: count, Length: 69, dtype: int64

num_lab_procedures: num_lab_procedures
43.0     2280
44.0     1985
1.0      1887
45.0     1830
38.0     1754
         ...
108.0       2
109.0       2
129.0       1
107.0       1
120.0       1
Name: count, Length: 114, dtype: int64

num_procedures: num_procedures
0.0    34291
1.0    15692
2.0     9623
3.0     7329
6.0     3265
4.0     3108
5.0     2524
Name: count, dtype: int64

num_medications: num_medications
12.0    4611
13.0    4561
11.0    4511
15.0    4259
14.0    4253
        ...
70.0       2
75.0       2
81.0       1
79.0       1
74.0       1
Name: count, Length: 75, dtype: int64

number_outpatient: number_outpatient
0.0     64601
1.0      6000
2.0      2362
3.0      1276
4.0       687
5.0       333
6.0       197
7.0        88
8.0        63
9.0        52
10.0       35
11.0       27
12.0       18
14.0       16
15.0       16
13.0       16
16.0       11
22.0        5
20.0        4
17.0        4
18.0        3
21.0        2
27.0        2
36.0        2
29.0        2
25.0        2
19.0        1
35.0        1
24.0        1
42.0        1
39.0        1
34.0        1
26.0        1
33.0        1
Name: count, dtype: int64

number_emergency: number_emergency
0.0     68338
1.0      5163
2.0      1295
3.0       454
4.0       239
5.0       111
7.0        59
6.0        56
8.0        43
9.0        25
10.0       16
11.0       10
13.0        5
16.0        3
18.0        3
25.0        2
22.0        2
15.0        2
42.0        1
28.0        1
14.0        1
12.0        1
21.0        1
20.0        1
Name: count, dtype: int64

number_inpatient: number_inpatient
0.0     50662
1.0     14443
2.0      5586
3.0      2494
4.0      1200
5.0       605
6.0       349
7.0       186
8.0       104
9.0        80
10.0       42
11.0       30
12.0       20
13.0       12
14.0        6
16.0        4
15.0        4
19.0        2
17.0        1
21.0        1
18.0        1
Name: count, dtype: int64

number_diagnoses: number_diagnoses
9.0    32580
5.0    10040
6.0     8303
8.0     8291
7.0     8217
4.0     4766
3.0     2510
2.0      926
1.0      199
Name: count, dtype: int64

max_glu_serum: max_glu_serum
Norm    2464
>200    1422
>300    1104
Name: count, dtype: int64

A1Cresult: A1Cresult
>8      6205
Norm    3452
>7      2641
Name: count, dtype: int64

metformin: metformin
No        61427
Steady    13177
Up          808
Down        420
Name: count, dtype: int64

repaglinide: repaglinide
No        74745
Steady      974
Up           78
Down         35
Name: count, dtype: int64

nateglinide: nateglinide
No        75346
Steady      469
Up           13
Down          4
Name: count, dtype: int64

chlorpropamide: chlorpropamide
No        75753
Steady       72
Up            6
Down          1
Name: count, dtype: int64

glimepiride: glimepiride
No        72166
Steady     3278
Up          247
Down        141
Name: count, dtype: int64

acetohexamide: acetohexamide
No        75831
Steady        1
Name: count, dtype: int64

glipizide: glipizide
No        66186
Steady     8579
Up          632
Down        435
Name: count, dtype: int64

glyburide: glyburide
No        67316
Steady     7372
Up          691
Down        453
Name: count, dtype: int64

tolbutamide: tolbutamide
No        75812
Steady       20
Name: count, dtype: int64

pioglitazone: pioglitazone
No        70674
Steady     4885
Up          185
Down         88
Name: count, dtype: int64

rosiglitazone: rosiglitazone
No        70403
Steady     5196
Up          157
Down         76
Name: count, dtype: int64

acarbose: acarbose
No        75603
Steady      217
Up            9
Down          3
Name: count, dtype: int64

miglitol: miglitol
No        75804
Steady       24
Down          2
Up            2
Name: count, dtype: int64

troglitazone: troglitazone
No        75829
Steady        3
Name: count, dtype: int64

tolazamide: tolazamide
No        75793
Steady       38
Up            1
Name: count, dtype: int64

examide: examide
No    75832
Name: count, dtype: int64

citoglipton: citoglipton
No    75832
Name: count, dtype: int64

insulin: insulin
No        37032
Steady    23177
Down       8307
Up         7316
Name: count, dtype: int64

glyburide.metformin: glyburide.metformin
No        75361
Steady      457
Up            8
Down          6
Name: count, dtype: int64

glipizide.metformin: glipizide.metformin
No        75821
Steady       11
Name: count, dtype: int64

glimepiride.pioglitazone: glimepiride.pioglitazone
No    75832
Name: count, dtype: int64

metformin.rosiglitazone: metformin.rosiglitazone
No    75832
Name: count, dtype: int64

metformin.pioglitazone: metformin.pioglitazone
No    75832
Name: count, dtype: int64

change: change
No    42275
Ch    33557
Name: count, dtype: int64

diabetesMed: diabetesMed
Yes    57641
No     18191
Name: count, dtype: int64

readmitted: readmitted
NO     39698
>30    27548
<30     8586
Name: count, dtype: int64

In [106]:
# substitua os valores ? por np.nan
df = df.replace('?', np.nan)

# Printa valores iguais a nulo nas colunas e seus respectivos percentuais em relação ao total
for col in df.columns:
    if df[col].isnull().sum() > 0:
        print(f'{col}: {df[col].isnull().sum()}  ({df[col].isnull().mean() * 100:.2f}%) valores nulos')

race: 1511  (1.99%) valores nulos
weight: 73317  (96.68%) valores nulos
payer_code: 37437  (49.37%) valores nulos
medical_specialty: 32475  (42.82%) valores nulos
max_glu_serum: 70842  (93.42%) valores nulos
A1Cresult: 63534  (83.78%) valores nulos

In [107]:
# Realizando drop de colunas que possuem mais de 50% de valores nulos
df.drop(['weight', 'medical_specialty', 'max_glu_serum', 'payer_code', 'A1Cresult'], axis=1, inplace=True)

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75832 entries, 0 to 75831
Data columns (total 40 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   race                      74321 non-null  object
 1   gender                    75832 non-null  object
 2   age                       75832 non-null  object
 3   admission_type_id         75832 non-null  float64
 4   discharge_disposition_id  75832 non-null  float64
 5   admission_source_id       75832 non-null  float64
 6   time_in_hospital          75832 non-null  float64
 7   num_lab_procedures        75832 non-null  float64
 8   num_procedures            75832 non-null  float64
 9   num_medications           75832 non-null  float64
 10  number_outpatient         75832 non-null  float64
 11  number_emergency          75832 non-null  float64
 12  number_inpatient          75832 non-null  float64
 13  number_diagnoses          75832 non-null  float64
 14  metformin                 75832 non-null  object
 15  repaglinide               75832 non-null  object
 16  nateglinide               75832 non-null  object
 17  chlorpropamide            75832 non-null  object
 18  glimepiride               75832 non-null  object
 19  acetohexamide             75832 non-null  object
 20  glipizide                 75832 non-null  object
 21  glyburide                 75832 non-null  object
 22  tolbutamide               75832 non-null  object
 23  pioglitazone              75832 non-null  object
 24  rosiglitazone             75832 non-null  object
 25  acarbose                  75832 non-null  object
 26  miglitol                  75832 non-null  object
 27  troglitazone              75832 non-null  object
 28  tolazamide                75832 non-null  object
 29  examide                   75832 non-null  object
 30  citoglipton               75832 non-null  object
 31  insulin                   75832 non-null  object
 32  glyburide.metformin       75832 non-null  object
 33  glipizide.metformin       75832 non-null  object
 34  glimepiride.pioglitazone  75832 non-null  object
 35  metformin.rosiglitazone   75832 non-null  object
 36  metformin.pioglitazone    75832 non-null  object
 37  change                    75832 non-null  object
 38  diabetesMed               75832 non-null  object
 39  readmitted                75832 non-null  object
dtypes: float64(11), object(29)
memory usage: 23.1+ MB

In [109]:
df.fillna({'race': 'Other'}, inplace=True)
df['race'].unique()

array(['Caucasian', 'AfricanAmerican', 'Other', 'Asian', 'Hispanic'],
      dtype=object)

In [110]:
# exceto insuline 
medications = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide',
                'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol',
                'troglitazone', 'tolazamide', 'examide', 'citoglipton', 'glyburide.metformin',
                'glipizide.metformin', 'glimepiride.pioglitazone', 'metformin.rosiglitazone',
                'metformin.pioglitazone']
# mostre a quantidade de cada categoria de cada coluna
for col in medications:
    print(f'{col}: {df[col].value_counts()}\n')

metformin: metformin
No        61427
Steady    13177
Up          808
Down        420
Name: count, dtype: int64

repaglinide: repaglinide
No        74745
Steady      974
Up           78
Down         35
Name: count, dtype: int64

nateglinide: nateglinide
No        75346
Steady      469
Up           13
Down          4
Name: count, dtype: int64

chlorpropamide: chlorpropamide
No        75753
Steady       72
Up            6
Down          1
Name: count, dtype: int64

glimepiride: glimepiride
No        72166
Steady     3278
Up          247
Down        141
Name: count, dtype: int64

acetohexamide: acetohexamide
No        75831
Steady        1
Name: count, dtype: int64

glipizide: glipizide
No        66186
Steady     8579
Up          632
Down        435
Name: count, dtype: int64

glyburide: glyburide
No        67316
Steady     7372
Up          691
Down        453
Name: count, dtype: int64

tolbutamide: tolbutamide
No        75812
Steady       20
Name: count, dtype: int64

pioglitazone: pioglitazone
No        70674
Steady     4885
Up          185
Down         88
Name: count, dtype: int64

rosiglitazone: rosiglitazone
No        70403
Steady     5196
Up          157
Down         76
Name: count, dtype: int64

acarbose: acarbose
No        75603
Steady      217
Up            9
Down          3
Name: count, dtype: int64

miglitol: miglitol
No        75804
Steady       24
Down          2
Up            2
Name: count, dtype: int64

troglitazone: troglitazone
No        75829
Steady        3
Name: count, dtype: int64

tolazamide: tolazamide
No        75793
Steady       38
Up            1
Name: count, dtype: int64

examide: examide
No    75832
Name: count, dtype: int64

citoglipton: citoglipton
No    75832
Name: count, dtype: int64

glyburide.metformin: glyburide.metformin
No        75361
Steady      457
Up            8
Down          6
Name: count, dtype: int64

glipizide.metformin: glipizide.metformin
No        75821
Steady       11
Name: count, dtype: int64

glimepiride.pioglitazone: glimepiride.pioglitazone
No    75832
Name: count, dtype: int64

metformin.rosiglitazone: metformin.rosiglitazone
No    75832
Name: count, dtype: int64

metformin.pioglitazone: metformin.pioglitazone
No    75832
Name: count, dtype: int64

In [111]:
# Para cada coluna de medicmentos, substitua os valores 'No' por 0 e 'Steady', 'Up' e 'Down' por 1
for col in medications:
    df[col] = np.where(df[col] == 'No', 0, 1)

for col in medications:
    print(f'{col}: {df[col].value_counts()}\n')

metformin: metformin
0    61427
1    14405
Name: count, dtype: int64

repaglinide: repaglinide
0    74745
1     1087
Name: count, dtype: int64

nateglinide: nateglinide
0    75346
1      486
Name: count, dtype: int64

chlorpropamide: chlorpropamide
0    75753
1       79
Name: count, dtype: int64

glimepiride: glimepiride
0    72166
1     3666
Name: count, dtype: int64

acetohexamide: acetohexamide
0    75831
1        1
Name: count, dtype: int64

glipizide: glipizide
0    66186
1     9646
Name: count, dtype: int64

glyburide: glyburide
0    67316
1     8516
Name: count, dtype: int64

tolbutamide: tolbutamide
0    75812
1       20
Name: count, dtype: int64

pioglitazone: pioglitazone
0    70674
1     5158
Name: count, dtype: int64

rosiglitazone: rosiglitazone
0    70403
1     5429
Name: count, dtype: int64

acarbose: acarbose
0    75603
1      229
Name: count, dtype: int64

miglitol: miglitol
0    75804
1       28
Name: count, dtype: int64

troglitazone: troglitazone
0    75829
1        3
Name: count, dtype: int64

tolazamide: tolazamide
0    75793
1       39
Name: count, dtype: int64

examide: examide
0    75832
Name: count, dtype: int64

citoglipton: citoglipton
0    75832
Name: count, dtype: int64

glyburide.metformin: glyburide.metformin
0    75361
1      471
Name: count, dtype: int64

glipizide.metformin: glipizide.metformin
0    75821
1       11
Name: count, dtype: int64

glimepiride.pioglitazone: glimepiride.pioglitazone
0    75832
Name: count, dtype: int64

metformin.rosiglitazone: metformin.rosiglitazone
0    75832
Name: count, dtype: int64

metformin.pioglitazone: metformin.pioglitazone
0    75832
Name: count, dtype: int64

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75832 entries, 0 to 75831
Data columns (total 40 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   race                      75832 non-null  object
 1   gender                    75832 non-null  object
 2   age                       75832 non-null  object
 3   admission_type_id         75832 non-null  float64
 4   discharge_disposition_id  75832 non-null  float64
 5   admission_source_id       75832 non-null  float64
 6   time_in_hospital          75832 non-null  float64
 7   num_lab_procedures        75832 non-null  float64
 8   num_procedures            75832 non-null  float64
 9   num_medications           75832 non-null  float64
 10  number_outpatient         75832 non-null  float64
 11  number_emergency          75832 non-null  float64
 12  number_inpatient          75832 non-null  float64
 13  number_diagnoses          75832 non-null  float64
 14  metformin                 75832 non-null  int64
 15  repaglinide               75832 non-null  int64
 16  nateglinide               75832 non-null  int64
 17  chlorpropamide            75832 non-null  int64
 18  glimepiride               75832 non-null  int64
 19  acetohexamide             75832 non-null  int64
 20  glipizide                 75832 non-null  int64
 21  glyburide                 75832 non-null  int64
 22  tolbutamide               75832 non-null  int64
 23  pioglitazone              75832 non-null  int64
 24  rosiglitazone             75832 non-null  int64
 25  acarbose                  75832 non-null  int64
 26  miglitol                  75832 non-null  int64
 27  troglitazone              75832 non-null  int64
 28  tolazamide                75832 non-null  int64
 29  examide                   75832 non-null  int64
 30  citoglipton               75832 non-null  int64
 31  insulin                   75832 non-null  object
 32  glyburide.metformin       75832 non-null  int64
 33  glipizide.metformin       75832 non-null  int64
 34  glimepiride.pioglitazone  75832 non-null  int64
 35  metformin.rosiglitazone   75832 non-null  int64
 36  metformin.pioglitazone    75832 non-null  int64
 37  change                    75832 non-null  object
 38  diabetesMed               75832 non-null  object
 39  readmitted                75832 non-null  object
dtypes: float64(11), int64(22), object(7)
memory usage: 23.1+ MB

In [113]:
# Binazirando a coluna change
df['change'] = np.where(df['change'] == 'No', 0, 1)
df['change'].value_counts()

change
0    42275
1    33557
Name: count, dtype: int64

In [114]:

# Binazirando a coluna diabetesMed
df['diabetesMed'] = np.where(df['diabetesMed'] == 'No', 0, 1)
df['diabetesMed'].value_counts()

diabetesMed
1    57641
0    18191
Name: count, dtype: int64